<!doctype html>
<html lang="{{#if htmlLang}}{{htmlLang}}{{else}}en{{/if}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{#if titleKey}}{{t titleKey}}{{else}}{{title}}{{/if}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&family=Manrope:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    {{{body}}}
    <script src="/nav.js" defer></script>
  </body>
</html>
